# virtualenv
.venv/
__pycache__/
*.pyc

# variables de entorno / secretos
.env
.env.*
!.env.example

# datasets generados
datasets/*.csv

# checkpoints y metadata generados
checkpoints/**/*.pth
checkpoints/**/*.pt
checkpoints/candidates/*.json
checkpoints/approved/*.json

# archivos temporales de fine-tuning
checkpoints/**/_fine_tune_tmp/
checkpoints/**/*.csv

# conservar estructura de carpetas en Git
!checkpoints/candidates/.gitkeep
!checkpoints/approved/.gitkeep

# figuras generadas
figures/*
!figures/.gitkeep